
body {
    text-align: center;
    margin: 0 auto;
    font-family: "Pokemon Solid";
    letter-spacing: 3px;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
}
#heading {
    color: #04482d;
    font-size: 3rem;
}
.container {
    padding: 20px;
}
#pokeGame {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(4, 160px);
    justify-content: center;
    align-items: center;  
    grid-gap: 20px;
   
}
#pokeGame img {
    width: 120px;
}
#pokeGame h2 {
    font-size: 1rem;
    margin-top: -30px;
    color: #04482d;
}

#alert-message {
    color: rgb(176, 5, 5);
    font-size: 1.5rem;
}
.card {
    height: 100%;
    box-shadow: 0 3px 10px #04482d;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}
.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s;
}
.front {
    background-image: url("./images/pokemon128.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #04482d;
}
.rotated {
    transform: rotateY(180deg);
}
.score {
    color: #04482d;
}
.button {
    background-color: #04482d;
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 50px;
}
.button:hover {
    transform: scale(1.2);
    background-color: rgb(176, 5, 5);
    /* transition: 0.5s;  */
}
footer {
    color: rgb(176, 5, 5);
    font-size: 1rem;
}